@import "./variable.scss";

// styling for register and login form
.register-wrapper,
.sign-in_wrapper{
    display:flex;
    margin:3% auto;
    box-shadow: 2px 10px 8px 10px #888888;
    width: fit-content;
}
.left-div{
    position: relative;
    background-color: $primary-color;
    .left-wrapper{
        padding:2em;
        width: 18vw;
        height:80vh;
        text-align: center;
        h2 {
            font-size: 2em;
            @include whiteColor;
        }
        p { 
            @include whiteColor;
            button {
                margin:20% auto;
                @include mixin-button;
            }
                button:hover {
                    @include btn-hover;
                }
        }
    }
}

.right-div {
    background-color: #fff;
    padding: 0 2em;
    text-align: center;
    width:30vw;
    .right-div_wrapper{
        position: relative;
        margin:0 auto;
        h1 {
            padding-top: 0.5em;
            font-size: 2em;
            color:$primary-color;
            font-weight: bold;
        }
        p{
            color:$second-color;
            font-weight:bold;
        }
        .icons-container {
            ul {
                padding:0;
            }
            li {
                display:inline-block;
                list-style: none;
            }
            .media-icon {
                @include medsos-icon;
            }
            .media-icon{
               :hover{
                    @include icon-hover;
                }
            }
        }
        .form{
            margin:3em 0;
        }
        input {
           @include mixin-input;
        }
        button {
            @include mixin-button;
            background-color: $primary-color;
            color:#fff;
            margin:5% auto;
        }
        button:hover {
            @include btn-hover;
        }
    }
}
// styling for homepage
.homepage-wrapper {
    margin:3% auto;
    box-shadow: 2px 10px 8px 10px #888888;
    max-width: calc(48vw + 8em);
    .header {
        position: relative;
        width:100%;
        .header-nav {
            background-color: $primary-color;
            position: relative;
            height:5em;
            display: flex;
            justify-content: flex-end;
            button{
                @include mixin-button;
                position: absolute;
                margin: 2% -2%;
            }
                button:hover {
                    @include btn-hover;
                }
        }
    }
    .content {
        background-color: $background-color;
        display: flex;
        padding:0 2em;
        height:80vh;
        .left-nav {
            .user-profile {
                display:flex;
                align-items: center;
                .user-image{
                    width:3em;
                    height:3em;
                    padding:1em;
                }
               .edit-profile{
                   display: inline-block;
                   h3 {
                       margin:0;
                   }
                   .link{
                       font-size: 1vw;
                       color:$third-color;
                       text-decoration: none;
                    }
                    .link:hover {
                        @include link-hover;
                    }
               }
            }
            .nav-menu {
                padding-left: 5em;
                padding-top:2em;
            }
            margin-top:1em;
            background-color: $background-color;
            text-align: left;
            width:15vw;
            ul{
                padding:0;
                .link {
                    @include link-style;
                    padding-bottom:2em;
                    font-size: 1.2vw;
                }
                .link:hover {
                    @include link-hover;
                }
                li {
                    list-style: none;
                    padding-bottom:2em;
                    font-size: 1.2vw;
                }
            }
        }
        .main-content{
            margin-top:1em;
            margin-left:1em;
            box-sizing: border-box;
            width:65%;
            .add-todo {
                    @include todo-style;
                    padding:1em;
                input{
                    border:none;
                    border-bottom: 2px solid $second-color;
                    width:100%;
                    padding:1em;
                }
                .add-icon{
                    color:$second-color;
                    @include icons;
                }
            }
            .task-list {
                .todo-title {
                    display: flex;
                    justify-content:space-evenly;
                }
                .todo-list {
                    @include todo-style;
                    padding:0 1em;
                    p {
                        font-size: 1vw;
                        padding-left:1em;
                    }
                    .icon{
                       @include icons;
                       
                    }
                    .important {
                        position: absolute;
                        color:$background-color;
                        right:35%;
                        :hover {
                            color:$important-color;
                        }
                    }
                    .edit {
                        position: absolute;
                        right:15%;
                    }
                    .delete {
                        position: absolute;
                        right:0%;
                    }
                    .check {
                        position: absolute;
                        visibility: collapse;
                    }
                }
            }
        }
    }
}

.mystyle {
    display: block;
    
}